#textdomain wesnoth-swamplings

# don't make him friendly unless you want to see that green orb!

[unit_type]
    id=Key
    name=_ "dummy_unit^Key"
    race=monster
    image="misc/blank-hex.png"
    hitpoints=1
    movement_type=fly
    movement=1
    experience=1
    level=1
    alignment=neutral
    advances_to=null
    cost=1
    usage=scout
    hide_help=true
    do_not_list=yes
[/unit_type]
